:root {
    --bege: #faeee3; /* Definindo a variável cor-destaque como vermelho */
    --vinho: #842a2a;
}

header {
    display: flex;
    background-color: var(--vinho);
    border-radius: 20px;
    padding: 10vh;
    margin: 2vh 3vh 2vh 2vh;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.logo{
    width: 30vh ;
    height: 20vh;
    border-radius: 25%;
}
.terceirao{
    width: 40%;
    height: auto;
}


body {
    font-family: Arial, sans-serif;
    background-color: #faeee3;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}
.box {
    display: flex;
}

.left {
    margin-right: 30%; /* Espaço entre a imagem e o campo da direita */
}

  .left img {
        width: auto;
        border-radius: 50%; /* Arredondamento da imagem */
        height: 100%; /* Mantém a altura da imagem */
        max-width: 400px; /* Largura máxima aceitável */

  }
  
  .right {
    width: 100vh;
    max-width: 600px;
    padding: 20px;
    background-color: var(--vinho);
    border-radius: 8px;
    box-shadow: 0, 0 10px rgba(0, 0, 0, 0.1);
  }

h1{
    text-align: center;
    color: var(--vinho);
    background-color: var(--bege);
    border-radius: 5vh;
}
h2{
    text-align: center;
    color: var(--bege);

}
#resultado{
    text-align: center;
    font-size:large;
    width: 15%;
    height: auto;
    margin-bottom: 10px;
    color: var(--bege);
    border: 2px solid var(--bege);
    border-color: var(--bege);
    border-radius: 20%;
    padding: 2%;
    margin-left: 40%;
  }
  

input[type="number"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5vh;
}

button {
    display: block;
    width: 30%;
    background-color: #faeee3;
    color: #842a2a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover{
    background-color: #d8b38f;
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
    
}


footer{
    align-items:right;
    justify-content: right;
}
.secao-extra{    
    margin-top: 5vh;
    margin-left:56vh;
    display: flex;
    align-items:center;
    justify-content: right;
    max-width: 800px; /* Limita a largura máxima do rodapé */
}


.secao-extra img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 100vh;
}

.secao-extra p {
    text-align: center;
    padding-left: 20px;
    color: var(--vinho);
    font-family: Arial, sans-serif;
    font-size: x-large;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 5vh;
    }
    .logo {
        width: 20vh;
        height: 15vh;
    }
    .terceirao {
        max-height: 60vh;
    }
    .right {
        width: 50%;
        padding: 10px;
        max-width: 400px;
    }
    .left img {
        width: 50%;
    }
}

/* Estilos para dispositivos com largura de tela até 480px (por exemplo, smartphones em orientação retrato) */
@media only screen and (max-width: 480px) {
    header {
        padding: 3vh;
    }
    .logo {
        width: 15vh;
        height: 10vh;
    }
    .terceirao {
        display: none; /* Esconder a imagem do terceirão em telas menores */
    }
    .box {
        flex-direction: column; /* Alterar para layout de coluna */
    }
    .left,
    .right {
        width: 50%;
    }
    .right {
        padding: 15px;
        border-radius: 0;
    }
    input[type="number"],
    button {
        width: 100%;
    }
    button {
        margin-top: 10px;
    }
}